body {
  background: #222;
  color: white;
}


img {
  max-width: 100%;
}
/* Code Under This Line */

/*
  Colors:
  #FFED5D -- yellow
  #FF7050 -- orange
  #222 -- black
  #7BBADE -- blue
*/

.a {
  margin: auto;
  background-color: #FFED5D;
  width: 975px;
  height: 300px;
}

.b {
  margin: auto;
  background-color: #FF7050;
  width: 925px;
  height: 250px;
}

.c {
  margin: auto;
  background-color: #222;
  width: 875px;
  height: 200px;
}

.d {
  margin: auto;
  background-color: #7BBADE;
  width: 825px;
  height: 150px;
}



